{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center flex-wrap gap-5 text-center pt-5">
    {% for i in data %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{i.id}}</h1>
            <p class="card-text">{{i.assignDate}}</p>
            <p class="card-text">{{i.taskDescription}}</p>
            <p class="card-text">
                {% for cat in i.category.all %}
                    <p class="btn btn-success btn-sm">{{cat}}</p>
                {% endfor %}
            </p>
            {% if i.isCompleted %}
                <button class="btn btn-primary btn-sm disabled">Completed</button>
            {% else %}
                <a href="{% url 'edit' i.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'delete' i.id %}" class="btn btn-danger btn-sm">Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
